* {
   box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #dde;
}

#header {
  display: table;
  background-color: #bbf;
  height: 10%;
  width: 100%;
}

#header h1 {
  display: table-cell;
  vertical-align: middle;
}

#container {
  width: 100%;
  height: 90%;
  background-color: #eee;
}

#textdiv {
  float: left;
  width: 30%;
  height: 100%;
  padding: 1vmin;
  border-radius: 0 1vmin 1vmin 0;
  background-color: #888;
}

#canvas {
  float: left;
  width: 58%;
  height: 100%;
  background-color: #eee;
}

#toolbar {
  float: left;
  width: 12%;
  height: 100%;
  padding: 1vmin;
  border-radius: 1vmin 0 0 1vmin;
  background-color: #888;
}

.tool, .channel, input {
  background-color: #eee;
  border-radius: 1vmin;
  border-spacing: 5px;
  border: 0.5vmin solid white;
  padding: 0.5vmin;
  margin: 0.5vmin;
}

.tool {
  position: relative;
  float: left;
  width: 9vmin;
  height: 9vmin;
}

.channel {
  float: left;
  width: 100%;
  height: 7vmin;
}

#text {
  width: 100%;
  height: 90%;
}

#refresh {
  display: block;
  margin: auto;
}

.tool img {  
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.125em;
  }
  
  #textdiv {
    width: 100%;
    clear: both;
  }

  #canvas {
    width: 100%;
    clear: both;
  }

  #toolbar {
    width: 100%;
    clear: both;
  }
}