* {
   box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #dde;
}

#header {
  display: table;
  background-color: #bbf;
  height: 10vh;
  width: 100vw;
}

#header h1 {
  display: table-cell;
  vertical-align: middle;
}

h2 {
  margin-bottom: 0.5vw;
}

#container {
  width: 100vw;
  height: 90vh;
  background-color: #eee;
}

#textdiv {
  display: block;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 30vw;
  height: 90vh;
  padding: 0.5vw;
  border-radius: 0 0.5vw 0.5vw 0;
  background-color: #888;
}

#canvas {
  display: block;
  position: absolute;
  left: 30vw;
  top: 10vh;
  width: 58vw;
  height: 90vh;
  background-color: #eee;
}

#toolbar {
  display: block;
  position: absolute;
  left: 88vw;
  top: 10vh;
  width: 12vw;
  height: 90vh;
  padding: 0.5vw;
  border-radius: 0.5vw 0 0 0.5vw;
  background-color: #888;
}

.tool, .channel, input {
  background-color: #eee;
  border-radius: 0.5vw;
  border: 0.3vw solid white;
  padding: 0.3vw;
  margin: 0.2vw;
}

.tool {
  position: relative;
  float: left;
  width: 5.1vw;
  height: 5.1vw;
}

.channel {
  float: left;
  width: 10.6vw;
  height: 55px;
}

#text {
  width: 100%;
  height: 85%;
}

#refresh {
  display: block;
  margin: auto;
}

.tool img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  position: relative;
  background-color: #888;
  border: 1px solid;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-header {
  padding: 2px 16px;
  background-color: #EEE;
}

.modal-body {padding: 16px}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.125em;
  }

  #textdiv {
    width: 100vw;
    height: 100vh;
  }

  #canvas {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 110vh;
  }

  #toolbar {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 210vh;
  }
}