html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: #dde;
}

#header {
  background-color: #bbf;
  text-align: center;
  padding: 10px;
}

#container {
  width: 100%;
  margin: auto;
}

#textdiv {
  float: left;
  width: 30%;
  height: 580px;
  padding: 10px;
  background-color: #888;
}

#canvas {
  height: 600px;
  margin-left: 30%;
  margin-right: 100px;
  background-color: #eee;
}

#toolbar {
  float: right;
  width: 180px;
  height: 580px;
  padding: 10px;
  background-color: #888;
}

#toolbar table {
  border-spacing: 5px;
  table-layout: fixed;
  width: 100%;
}

#toolbar td, input {
  background-color: #eee;
  border-radius: 5px;
  border-spacing: 5px;
  border: 2px solid white;
  overflow: hidden;
  padding: 3px;
}

#toolbar td .tool {
  width: 64px;
  height: 64px;
}

#text {
  width: 98%;
  height: 540px;
}

#refresh {
  display: block;
  margin: auto;
}

input {
  margin-top: 7px;
}